body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    background: #f0f2f5;
}

.sidebar {
    position: fixed;
    width: 50px;
    height: 100%;
    background: linear-gradient(145deg, #141460, #1e1e6d);
    color: white;
    transition: width 0.3s;
    padding: 20px 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
    width: 200px;
}

.sidebar a {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 17px 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #1e6db0;
}

.sidebar a i {
    font-size: 20px;
    margin-right: 16px;
    transition: margin-right 0.3s;
}

.sidebar:not(.open) a span {
    display: none;
}

.sidebar:not(.open) a {
    justify-content: center;
}

.toggle-btn {
    position: fixed;
    left: 10px;
    top: 10px;
    background: #14146050;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background 0.3s;
    z-index: 1001;
}

.toggle-btn:hover {
    background: #1e1e6d;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #141460, #1e1e6d);
    color: white;
    width: 100%;
    font-size: 14px;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    color: white;
    font-size: 18px;
    text-align: center;
}

.sidebar:not(.open) .username {
    display: none;
}

.logout-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.3s;
    position: absolute;
    bottom: 30px;
    left: 0;
    justify-content: center;
}

.logout-button:hover {
    color: #1e6db0;
}

.logout-button i {
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.sidebar:not(.open) .logout-button span {
    display: none; 
}

.sidebar:not(.open) .logout-button {
    justify-content: center;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #ced8e7;
    padding-top: 80px;
}

.form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #1950a4cb;
    outline: none;
}

.search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background: #1950a4cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.search-btn:hover {
    background: #1e6db0;
}
